.App {
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #222;
  color: #fff;
  font-size: 18px;
}

nav a {
  color: #fff;
  text-decoration: none;
  margin-left: 20px;
}

nav a:hover {
  text-decoration: underline;
}

nav div {
  display: flex;
  align-items: center;
}

nav p {
  margin-right: 10px;
}

nav img {
  border-radius: 50%;
}
